node_modules
.vscode
GitHub_Action
package-lock.json
.vagrant
/Devops/Bash_Scripts/*.log

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

.terraformrc
terraform.rc
.terraform.lock.hcl